<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B800_Material_Request_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B800_Material_Request_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <applicationSettings>
        <B800_Material_Request_System.My.MySettings>
            <setting name="System_Updater" serializeAs="String">
                <value>\\cal-eeassysvroi\EMCS_RAW_DATA\1. ST_AA_APPLICATIONS\DEPLOY\2. OPS2\B800 Matrial Request System\Updater</value>
            </setting>
            <setting name="System_Notifier" serializeAs="String">
                <value>\\cal-eeassysvroi\EMCS_RAW_DATA\OPS2-Material Request System Notification</value>
            </setting>
            <setting name="System_Main" serializeAs="String">
                <value>\\cal-eeassysvroi\EMCS_RAW_DATA\1. ST_AA_APPLICATIONS\DEPLOY\2. OPS2\B800 Matrial Request System\Version</value>
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>\\cal-eeassysvroi\EMCS_RAW_DATA\1. ST_AA_APPLICATIONS\DEPLOY\2. OPS2\B800 Matrial Request System\Template</value>
            </setting>
            <setting name="Manual" serializeAs="String">
                <value>\\cal-eeassysvroi\EMCS_RAW_DATA\1. ST_AA_APPLICATIONS\DEPLOY\2. OPS2\B800 Matrial Request System\Template\MRS5_UPDATES.pdf</value>
            </setting>
            <setting name="UpdateLog" serializeAs="String">
                <value>\\cal-eeassysvroi\EMCS_RAW_DATA\1. ST_AA_APPLICATIONS\DEPLOY\2. OPS2\B800 Matrial Request System\Template\Update_Logs.pdf</value>
            </setting>
        </B800_Material_Request_System.My.MySettings>
    </applicationSettings>
    <userSettings>
        <B800_Material_Request_System.My.MySettings>
            <setting name="User_ID" serializeAs="String">
                <value>0prt-0</value>
            </setting>
            <setting name="AutuRefresh" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>3</value>
            </setting>
        </B800_Material_Request_System.My.MySettings>
    </userSettings>
  
</configuration>